# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diretório de dependências
node_modules/

# Builds
dist/
build/

# Sistema operacional
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.*.local

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Testes
coverage/

# Debug
*.swp
*.swo
